.button {
    -fx-text-fill: #f6f6f9;
    -fx-background-color: #05396c;
}

.sub-title {
    -fx-font-weight: bold;
    -fx-text-fill: #05396c;
}

.value {
    -fx-font-weight: bold;
    -fx-text-fill: black;
}