.root {
    -fx-background-color: #000000;
}

.table-view {
    -fx-background-color: #1e1e1e;
    -fx-control-inner-background: #1e1e1e;
    -fx-text-fill: white;
    -fx-table-cell-border-color: #2a2a2a;
    -fx-table-header-border-color: #2a2a2a;
}

.table-view .table-cell {
    -fx-text-fill: white;
    -fx-alignment: CENTER;
}

.table-view .column-header,
.table-view .column-header-background,
.table-view .filler {
    -fx-background-color: #111111;
    -fx-text-fill: white;
}

.table-view:focused .table-row-cell:filled:focused:selected,
.table-view .table-row-cell:filled:selected {
    -fx-background-color: #a475ec;
    -fx-text-fill: white;
}

.table-row-cell {
    -fx-background-color: #1e1e1e;
    -fx-text-fill: white;
}

.table-row-cell:hover {
    -fx-background-color: #333333;
}

.label {
    -fx-text-fill: white;
    -fx-background-color: black;
}

.instructionVbox {
    -fx-background-color: black;
}

.summary-line {
    -fx-background-color: #111111;
}

.summary-title {
    -fx-text-fill: #cccccc;
    -fx-font-weight: bold;
}

.summary-subtitle {
    -fx-text-fill: #bbbbbb;
}

.summary-value {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/* active instruction line highlighted in reddish */
.table-row-cell:current {
    -fx-background-color: rgba(255, 100, 100, 0.8);
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.table-row-cell:changed {
    -fx-background-color: rgba(138, 94, 172, 0.8);
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}


.breakpoint-radio-button {
    -fx-mark-color: #a80606;
}