.root {
    -fx-background-color: #04294e;
}

.back {
    -fx-background-color: #04294e;
}

.title {
    -fx-font-weight: bold;
    -fx-text-fill: #6b8fa8;
    -fx-padding: 0 10 0 0;
}

.argument {
    -fx-text-fill: #6b8fa8;
    -fx-padding: 0 10 0 0;
}
.args-title {
    -fx-font-weight: bold;
    -fx-text-fill: #6b8fa8;
    -fx-padding: 0 10 0 0;
}

#add-instruction-btn {
    -fx-background-color: #6b8fa8;
    -fx-font-weight: bold;
    -fx-text-fill: #f4f2f2;
}

#upload-program-btn{
    -fx-background-color: #6b8fa8;
    -fx-font-weight: bold;
    -fx-text-fill: #f4f2f2;
}

#save-to-file-btn{
    -fx-background-color: #6b8fa8;
    -fx-font-weight: bold;
    -fx-text-fill: #f4f2f2;
}

.table-view {
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-insets: 0;

    -fx-background-image: url("/fx/app/display/waves.jpeg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;

    -fx-table-cell-border-color: rgba(255,255,255,0.18);
    -fx-table-header-border-color: rgba(255,255,255,0.18);
}

.table-view .table-cell {
    -fx-text-fill: white;
    -fx-alignment: CENTER;
}


.table-view .col {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table-view .column-header,
.table-view .column-header-background,
.table-view .filler {
    -fx-background-color: rgba(4,30,66,0.85);
    -fx-text-fill: white;
}

.table-view:focused .table-row-cell:filled:focused:selected,
.table-view .table-row-cell:filled:selected {
    -fx-background-color: rgba(0,163,224,0.65);
    -fx-text-fill: white;
}

.table-row-cell {
    -fx-background-color: rgba(0,0,0,0.20);
    -fx-text-fill: #f4f8ff;
}
.table-row-cell:hover {
    -fx-background-color: rgba(0,0,0,0.32);
}


.cBox {
    -fx-background-color: #aedff1;
}

.label {
    -fx-font-family: "Tahoma";
    -fx-font-size: 10pt;
    -fx-text-fill: #41a7e8;
}

.button {
    -fx-font-size: 10pt;
    -fx-font-family: "Tahoma";
    -fx-background-radius: 8;
    -fx-border-radius: 8;
}