#top-bar-grid {
    -fx-background-color: #04294e;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;

}

.label {
    -fx-text-fill: #f4f2f2;
    -fx-font-family: "Tahoma";
    -fx-font-size: 11pt;
}

.button {
    -fx-background-color: #3c70bf;
    -fx-text-fill: #faf8f8;
    -fx-font-size: 11pt;
    -fx-font-family: "Tahoma";
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-padding: 5 12 5 12;
}

.button:hover {
    -fx-background-color: #f19c5f;
}

.button:pressed {
    -fx-background-color: #f19c5f;
}

.combo-box {
    -fx-background-color: #3c70bf;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #aaaaaa;
}

.combo-box .list-cell {
    -fx-text-fill: white;
}


.combo-box-popup .list-view {
    -fx-background-color: #5d82bc;
}

.combo-box-popup .list-cell {
    -fx-background-color: #f4f2f2;
    -fx-text-fill: #3c70bf;
}

.combo-box-popup .list-cell:hover {
    -fx-background-color: #3c70bf;
}

.text-field {
    -fx-background-color: #3c70bf;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #aaaaaa;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    /*-fx-border-color: #3c70bf;*/
}

.text-field:readonly {
    -fx-background-color: #3c70bf;
    -fx-text-fill: #bbbbbb;
}