#top-bar-grid {
    -fx-background-color: #f1c8e2;
}

.label {
    -fx-text-fill: white;
    -fx-font-family: "Tahoma";
    -fx-font-size: 11pt;
}

.button {
    -fx-background-color: #fa64c3;
    -fx-text-fill: white;
    -fx-font-size: 11pt;
    -fx-font-family: "Tahoma";
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-padding: 5 12 5 12;
}

.button:hover {
    -fx-background-color: #f379c6;
}

.button:pressed {
    -fx-background-color: #f379c6;
}

.combo-box {
    -fx-background-color: #fa64c3;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #aaaaaa;
}

.combo-box .list-cell {
    -fx-text-fill: white;
}


.combo-box-popup .list-view {
    -fx-background-color: #f3cce5;
}

.combo-box-popup .list-cell {
    -fx-background-color: #f3e9ef;
    -fx-text-fill: #f367c6;
}

.combo-box-popup .list-cell:hover {
    -fx-background-color: #f3cce5;
}

.text-field {
    -fx-background-color: #f1c8e2;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #aaaaaa;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #f1c8e2;
}

.text-field:readonly {
    -fx-background-color: #f1c8e2;
    -fx-text-fill: #bbbbbb;
}