.instructions-root {
    -fx-padding: 8;
    -fx-spacing: 6;
    -fx-background-color: #fafafa;
}

.table-view {
    -fx-background-color: white;
    -fx-border-color: #dcdcdc;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-table-cell-border-color: #eaeaea;
    -fx-padding: 4;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(to bottom, #f9f9f9, #eaeaea);
}

.table-view .column-header,
.table-view .filler {
    -fx-border-color: #dcdcdc;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-font-weight: bold;
    -fx-text-fill: #444;
}

.table-row-cell {
    -fx-cell-size: 28px;
}

.table-row-cell:odd {
    -fx-background-color: #fcfcfc;
}
.table-row-cell:even {
    -fx-background-color: #ffffff;
}

.table-row-cell:selected {
    -fx-background-color: #d0e6ff;
    -fx-text-fill: black;
}

.table-row-cell.highlight-row {
    -fx-background-color: derive(-fx-accent, 70%);
    -fx-text-fill: -fx-text-base-color;
}

.table-row-cell:selected {
    -fx-background-color: rgba(64, 157, 234, 0.8);
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
/* active instruction line highlighted in reddish */
.table-row-cell:current {
    -fx-background-color: rgba(90, 66, 244, 0.8);
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-text-fill: white;
}

.table-row-cell:changed {
    -fx-background-color: rgba(206, 149, 250, 0.8);
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.table-row-cell:valid {
    -fx-background-color: rgba(116, 244, 164, 0.8);
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.table-row-cell:invalid {
    -fx-background-color: rgba(239, 59, 80, 0.8);
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.breakpoint-radio-button {
    -fx-mark-color: #a80606;
}

.table-view .table-cell {
    -fx-alignment: CENTER;
}

.summary-line {
    -fx-background-color: #f6f6f9;
    -fx-padding: 6 10;
    -fx-border-color: #e5e5ee;
    -fx-border-width: 1;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

.summary-title {
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-padding: 0 10 0 0;
}

.summary-subtitle {
    -fx-text-fill: #3c3b3b;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}

.summary-value {
    -fx-font-weight: bold;
    -fx-text-fill: #2a5bd7;
    -fx-padding: 0 15 0 3;
}