.button {
    -fx-text-fill: #f6f6f9;
    -fx-background-color: #05396c;


}

.sub-title {
    -fx-font-weight: bold;
    -fx-text-fill: #05396c;
    -fx-padding: 0 15 0 3;
}

.table-row-cell:selected {
    -fx-background-color: rgba(94, 237, 241, 0.8);
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}